/* I haved used the link tag to import the font */
/* @import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap"); */

:root {
  --primary-color: #457b9d;
  --secondary-color: #a8dadc;
  --background-color: #f1faee;
  --accent-color: #e63946;
  --black-color: #1d3557;

  --heading-font: "Comfortaa", sans-serif;
  --paragraph-font: "Comfortaa", sans-serif;

  --nav-background-color: #f1faee;
  --nav-link-color: #1d3557;
  --nav-hover-link-color: #f1faee;
  --nav-hover-background-color: #1d3557;
}

body {
  font-family: var(--paragraph-font);
  min-width: 960px;
  padding: 20px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  fontfamily: var(--heading-font);
  color: var(--primary-color);
}

header {
  padding: 20px;
  background-color: var(--background-color);
}

p {
  padding: 25px;
}

nav {
  background-color: var(--nav-background-color);
  font-size: 1.2rem;
  display: flex;
}

nav a {
  display: block;
  color: var(--nav-link-color);
  text-decoration: none;
  padding: 1rem;
}

nav a:link,
nav a:visited {
  color: var(--nav-link-color);
}

nav a:hover {
  color: var(--nav-hover-link-color);
  background-color: var(--nav-hover-background-color);
}
